*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(76, 76, 197);
    padding: 10px;
    width: 100vw;
}

ul{
    display: flex;
    gap: 30px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

ul li a:hover{
    color: rgb(12, 12, 12);
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
    }

    ul {
        flex-direction: column;
        gap: 20px;
    }
}