*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html{
    display: flex;
    justify-content: center;
}

body{
    width: 50vw;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    border-radius: 100%;
}

h1{
    font-weight: bolder;
    font-size: 72px;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

small{
    margin-top: -15px;
}

h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

ul li, p{
    list-style: none;
    padding-left: 10px;
    padding-right: 5px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: gray;
}